

h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;


}
p {
    color:#8f8f8f;
}
h3 {
    font-family:Montserrat-bold;
}

h2 {

    font-family:Montserrat-bold;
}


#title{

    padding:9%  15%;
    font-family: 'Ubuntu', sans-serif;
    background-color: indianred;
    color: white;


}


#features {
    padding: 7% 15% ;

    text-align: center;
    position: relative;
    background-color: white;


}

.rotate{
    transform:rotate(30deg);

    position: absolute;



}
#testimonials {
    padding: 10% 5%;

    position: relative;
    text-align: center;
    background-color:indianred;



}
#pricing {
    text-align: center;
    padding: 100px;
    line-height: 1.5;
    margin-bottom: 5%;

}

#cta {



    background-color: indianred;
    padding: 7%  15%;
    text-align: center;

}
.near-footer
{

font-family: Montserrat-black;
    font-size: 4.5rem;
    line-height: 1.5;
    color: white;

}
#footer {
    text-align: center;
    padding: 10%  10% 5% 4%;

}
body {

}

.nav-link {
    font-family: Ubuntu-black;
    font-weight:bold;
    font-size: 1.5rem;
    color:white;



}
.nav-link:hover{
  color:red;
}

.navbar {
    background-color: indianred;
}

.download-button {
    margin: 5% 3% 5%  0;
}
.image {

    color: #ef8172;
    margin-bottom: 1rem;


}
.image:hover{
    color: red;
}

.feature-box{
    text-align: center;
   padding-left: 25%;

}
.image-carousel {

    border-radius: 100%;
 margin: auto;
    padding: 5% ;


}
.carousel-text{
    line-height: 1.5;
    font-size: 5.5rem;
    color: white;
}

.pricing-column {


}

@media (max-width:1028px) {
    h1 {

      text-align: center;

    }
    .rotate {


        position: static;
        transform:rotate(0deg);

    }
    .carousel-text {
       font-size:1.5rem;

    }
    #title {
        padding: 20% 15%;
        text-align: center;
    }


}
.footer-icon
{
    margin:20px 10px;
}